@use '../../theme';

.stone {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: min-content;
  .emoji {
    position: absolute;
    font-size: 2.5rem;
  }
}
.octagon {
  * {
    fill: theme.$colorSecondary;
  }
  width: 3.5rem;
  height: 3.5rem;
}