@use '../../theme';

.stone {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: min-content;
  .emoji {
    line-height: 1;
    position: absolute;
  }
}
.octagon {
  * {
    fill: theme.$colorSecondary;
  }
}