@use 'theme';

.container {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;

  .footer {
    margin-top: auto;
    display: flex;
    gap: 1rem;
  }
}

