@use '../../theme';

.game {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  padding: 2rem;
  @media screen and (max-width: 750px) {
    flex-direction: row;
    padding: 0;
  }
  &.me {
    order: 1;
    @media screen and (max-width: 750px) {
      min-width: calc(50% - 1rem);
    }
  }
  &.opponent {
    order: 3;
    @media screen and (max-width: 750px) {
      order: 2;
      min-width: calc(50% - 1rem);
    }
  }
}

.board {
  width: 50vw;
  height: 50vw;
  max-width: 800px;
  max-height: 800px;
  position: relative;
  min-width: 335px;
  min-height: 335px;
  order: 2;
  @media screen and (max-width: 750px) {
    order: 3;
  }

   > svg {
    position: absolute;
    padding: 15px;
    * {
      stroke: theme.$colorSecondary;
    }
  }

  .fields {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .stone {
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      transition: transform 1s ease-in-out;
      padding: 15px;
      pointer-events: none;
      z-index: 2;
      > * {
        transition: transform 1s ease-in-out;
      }

      &.s00 {
        transform: translate3d(-50%,-50%,0);
        > * {
          transform: translate3d(50%,50%,0);
        }
      }
      &.s01 {
        transform: translate3d(0,-50%,0);
        > * {
          transform: translate3d(0,50%,0);
        }
      }
      &.s02 {
        transform: translate3d(50%,-50%,0);
        > * {
          transform: translate3d(-50%,50%,0);
        }
      }
      &.s10 {
        transform: translate3d(-50%,0,0);
        > * {
          transform: translate3d(50%,0,0);
        }
      }
      &.s12 {
        transform: translate3d(50%,0%,0);
        > * {
          transform: translate3d(-50%,0,0);
        }
      }
      &.s20 {
        transform: translate3d(-50%,50%,0);
        > * {
          transform: translate3d(50%,-50%,0);
        }
      }
      &.s21 {
        transform: translate3d(0,50%,0);
        > * {
          transform: translate3d(0,-50%,0);
        }
      }
      &.s22 {
        transform: translate3d(50%,50%,0);
        > * {
          transform: translate3d(-50%,-50%,0);
        }
      }
    }

    .row {
      display: flex;
      justify-content: space-between;

      .field {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 1px solid #000;
        background: theme.$colorSecondary;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &:not([disabled]) {
          cursor: pointer;
        }
        &[disabled] {
          background: darken(theme.$colorSecondary,25);
          color: #000;
        }
        &.winningField {
          box-shadow:
                  0 0 15px 7px #fff, // inner white
                  0 0 25px 15px #f0f, // middle magenta
                  0 0 35px 23px #0ff; // outer cyan
        }
        &.adjacentField, &.activeField {
          animation: blinker 1s linear infinite;
          box-shadow: 0 0 2rem 1rem #fff;
        }
      }
    }
  }

}

@keyframes blinker {
  50% {
    opacity: .5;
  }
}