@use '../../theme';
.game {
  width: 50vw;
  height: 50vw;
  max-width: 800px;
  max-height: 800px;

  svg {
    * {
      stroke: theme.$colorSecondary;
    }
  }
}

.canvas {
  position: absolute;
}