@use '../../../theme';

.playerBox {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  height: min-content;
  flex-basis: 100%;
  > * {
    max-width: 300px;
    min-width: 135px;
  }
  @media screen and (max-width: 996px) {
    flex-basis: unset;
  }
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .score {
      font-size: 3rem;
      font-family: 'Share Tech Mono', monospace;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .nonPlayedStones {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}