@use 'theme';

.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  .toast {
    background: theme.$colorSecondary;
    color: darken(theme.$colorPrimary,10);
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

