@use 'theme';

.container {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100%;

  .main {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .toast {
      background: theme.$colorSecondary;
      color: darken(theme.$colorPrimary,10);
      border-radius: 2rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .footer {
    margin-top: auto;
    display: flex;
    gap: 1rem;
    a {

    }
  }
}

