@use '../../../theme';
.centerColumn {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
  text-align: center;
}
.start {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  > * {
    flex-basis: 50%;
  }
  .joinSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.buttonRow {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.styleButton {
  background: white;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: none;
  cursor: pointer;
  border: none;
  width: 3rem;
  height: 3rem;
  line-height: 1;
  font-size: 1.5rem;
  &[type="color"] {
    -webkit-appearance: none;
    &::-webkit-color-swatch-wrapper {
      padding: 0.3rem;
    }
    &::-webkit-color-swatch {
      border: none;
    }
  }
}