@use '../../../theme';
.centerColumn {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
  text-align: center;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  > *:nth-child(odd) {
    flex: 1;
    align-self: flex-end;
  }
  .divisor {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    .vl {
      border-left: 1px solid theme.$colorSecondary;
      height: 100%;
      margin-left: -1px;
    }
  }
  .joinSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.buttonRow {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.styleButton {
  background: white;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: none;
  cursor: pointer;
  border: none;
  width: 3rem;
  height: 3rem;
  line-height: 1;
  font-size: 1.5rem;
  &[type="color"] {
    -webkit-appearance: none;
    &::-webkit-color-swatch-wrapper {
      padding: 0.3rem;
    }
    &::-webkit-color-swatch {
      border: none;
    }
  }
}